@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* .quicksand-<uniquifier> {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */
   *{
    padding: 0px;
    margin: 0px;
   }
/* Shared Styles */
.marq{
    font-family: 'Quicksand', sans-serif;
    padding: 20px 0px;
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    font-weight: bold;
    background-color: orange;
}
.display-flex{
    display: flex;
}
.display-none{
    display: none;
}
.text-primary{
    color: orange;
}
.text-secondary{
    color: #13aeff;
}
.text-tertiary{
    color: #05D4DF;
}
.text-quaternary{
    color: #5D58EF;
}
.btn-primary{
    height: 50px;
    width: 197px;
    padding: 10px;
    background-color: black;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    border: none;
    border-radius: 12px;
}
.btn-secondary{
    height: 50px;
    width: 197px;
    padding: 10px;
    background-color: orange;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    border: none;
    border-radius: 12px;
}
.section-padding{
    padding: 0px 140px;
    margin: 80px 0px;
}
.section-title{
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Quicksand', sans-serif;
}
/* Nav styles */
.logo-container{
    display: flex;
    align-items: center;
}
.navbar{
    justify-content: space-between;
    padding: 20px 140px;
    align-items: center;
}
.nav-icon{
    object-fit: contain;
}
.nav-title{
    font-size: 2rem;
    font-weight: bold;
    padding-left: 11px;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    width: 30%;
}
.nav-link{
    display: flex;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
}
.burger-btn{
    display: none;
}
/* Banner Styles */
.banner{
    padding: 0px 9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 60%;
}
.banner-title{
    font-size: 3.5rem;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}
.banner-description{
    font-size: 1.25rem;
    margin: 0px;
}

/* Curriculum styles */
.curriculum{
    background-image: url('../assets/bg.png');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.curriculum-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.curriculum-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 24px;
    height: 30rem;
    background-color: white;
    border-radius: 20px;
    padding: 0px 40px;
    box-shadow:  0 0 28px 0.94px rgba(0, 0, 0, 0.02);
    /* border: 2px solid orange; */
}
.blue-card{
    background-image: linear-gradient(to bottom, #def5ff, #ffffff 30%);
    border: 1px solid #def5ff;
}
.orange-card{
    background-image: linear-gradient(to bottom, #fff4dc, #ffffff 30%);
    border: 1px solid #fff4dc;
}
.purple-card{
    background-image: linear-gradient(to bottom, #f2e8ff, #ffffff 30%);
    border: 1px solid #f2e8ff;
}
.curriculum-card-btn{
    background-color: transparent;
    border: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    font-weight: bold;
}
.curriculum-card-title{
    font-size: 1.6rem;
    font-weight: bold;
}
.curriculum-card-description{
    font-size: 1rem;
    color: #808080;
}
.curriculum-nav-btn{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: bold;
}
.curriculum-nav-btn  img{
    width: 60%;
    height: 60%;
    filter: invert(100%);
}
/* Stories Styles */
.stories{
    background-image: url('../assets/bg.png'), linear-gradient(to top, rgba(254, 199, 111, 0.5), #FFFFFF 90%);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding-bottom: 60px;
    /* padding-top: 60px; */
}
.story-title{
    margin: 40px 0px;
}
.story-cards-container{
    display: flex;
    justify-content:space-between;
    margin: 0px auto;
    gap: 20px;
    height: 37.5rem;
    width: 82%;
}

#story-card-1{
    width: 44rem;
    background-color: white;
    border-radius: 0px 0px 1rem 1rem;
}


#story-card-1 img{
    width: 100%;
    height: 60%;
    border-radius: 1rem 1rem 0px 0px;
}
.story-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.story-card{
    width: 20rem;
    height: 18rem;
    background-color: white;
    border-radius: 1rem 1rem 1rem 1rem;
    position: relative;
}
.story-card img{
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 1rem 1rem 0px 0px;
}
.card-1-content{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    /* padding-top: 4rem; */
}

.card-1-content h4{
    font-size: 1.5rem;
    font-weight: bold;
}

.card-1-content p{
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
    width: 90%;
    font-size: 1rem;
    font-weight: 500;
    color: #666666;
}

.story-card-content{
    position: relative;
}
.story-card-content h4{
    padding: 2rem;
    line-height: 1.5;
    font-size: 1rem;
    font-weight: bold;
    padding-top: 3rem;
}

.story-date{
    width: 11rem;
    height: 3.2rem;
    background-color: #FFC76F;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    left: 2.5rem;
    top: -1.5rem;
}

.capsule-green{
    background-color: #95B226;
}
.capsule-sky{
    background-color: #3CD8E8;
}

.capsule-blue{
    background-color: #5D58F0;
}



/* Footer Styles */
.footer{
    background-color: #01ACFD;
    color: white;
    font-family: 'Quicksand', sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 9.4rem 12rem;
}

.logo-container{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 35px;
}
.footer-title{
    font-size: 2.6rem;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    height: 80px;
    line-height: 0.9;
    justify-content: center;
}
.footer-description{
    font-size: 1.25rem;
    margin: 0px;
    padding: 0px;
    max-width: 400px;
}


.footer-nav{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
    padding-left: 120px;
}

.footer-nav-title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 32px;
}
.footer-nav-links{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-nav-link{
    font-size: 1.25rem;
    list-style: none;
}
.footer-icons{
    display: flex;
    gap: 10px;
}
.footer-icon{
    width: 40px;
    height: 40px;
    border-radius: 4px;
}
/* Smaller Device Styles */
@media screen and (max-width: 576px){
    *{
        padding: 0px;
        margin: 0px;
    }
    .section-padding{
        padding: 60px 17px;
        padding-bottom: 20px;
        margin: 0px;
    }
    .section-title{
        font-size: 1.7rem;
        font-weight: bold;
        text-align: center;
        margin: 0px;
        padding: 0px;
    }
    .nav-links,
    .nav-title,
    .nav-btn,
    .curriculum-nav-btns,
    #story-card-1{
        display: none;
    }
    /* nav styles */
    .header{
        border: 2px solid orange;
        margin: 0px;
        padding: 10px;
        max-width: 576px;
    }
    .burger-btn{
        display: block;
        height: 30px;
        width: 30px;
        border: none;
        background-color: transparent;
    }
    .navbar{
        padding: 0px;
        margin: 0px;
        width: 100%;
    }
    .main{
        padding: 12px;
        margin: 0px;
    }
    /* banner styles */
    .banner{
        flex-direction: column-reverse;
        padding: 0px;
        object-fit: cover;
        margin: 0px 17px;
        gap: 20px;
    }
    .banner-content{
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
    }
    .banner-title{
        font-size: 2rem;
    }
    .banner-description{
        font-size: 0.9rem;
    }
    .banner-img{
        width: 100%;
    }
    .img-fluid{
        width: 100%;
        object-fit: cover;
    }

    /* curriculum styles */
    .curriculum-title{
        padding-bottom: 40px;
    }
    .curriculum{
        margin-top: 40px;
        gap: 20px;
    }
    .curriculum-cards{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 14px;
    }
    .main{
        padding: 0px;
        margin: 0px;
    }
    /* Stories styles */
    .display-block{
        display: block;
    }
    .stories{
        gap: 60px;
        padding: 60px 0px;
        height: 1000px;
    }
    .story-cards-container{
        height: 100%;
        width: 100%;
        margin: 0px;
        display: flex;
        justify-content: center;
    }
    .story-cards{
        height: 50rem;
        width: 90%;
        text-align: center;
        /* border: 2px solid orange; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0px;
        gap: 15px;
        padding: 0px;
    }
    .story-card{
        width: 100%;
        height: 15rem;
        background-color: white;
        border-radius: 1rem 1rem 1rem 1rem;
        text-align: left;
        position: relative;
    }
    .story-card img{
        width: 100%;
        height: 60%;
        object-fit: cover;
        border-radius: 1rem 1rem 0px 0px;
    }
    
    .story-card-content{
        position: relative;
    }
    .story-card-content h4{
        padding: 1.5rem;
        line-height: 1.5;
        font-size: 0.7rem;
        font-weight: bold;
        padding-top: 22px;
    }
    
    .story-date{
        width: 104px;
        height: 23px;
        background-color: #FFC76F;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 9px;
        font-weight: 500;
        color: white;
        font-family: 'Raleway', sans-serif;
        position: absolute;
        left: 2rem;
        top: -1rem;
    }

    .capsule-green{
        background-color: #95B226;
    }
    .capsule-sky{
        background-color: #3CD8E8;
    }
    
    .capsule-blue{
        background-color: #5D58F0;
    }

    /* Footer styles */
    .footer{
        background-color: #01ACFD;
        color: white;
        font-family: 'Quicksand', sans-serif;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        padding: 60px 16px;
    }
    .footer-nav{
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 10px;
        padding: 32px 0px;
    }
    .footer-description{
        font-size: 1rem;
        max-width: 330px;
    }
}
